<p id="notice"><%= notice %></p>

<h1>Todo login</h1>

<%= button_to 'Sign in', new_user_path, class: 'btn btn-block btn-white' %>
<%= button_to 'log in', login_path,method: :get,class: 'btn btn-block btn-white'%>

<br>
<%= link_to 'New User', new_user_path %>
