.text-center {
  background-color: black;
  color: #fff;
    margin-top:50px;
    margin-bottom:20px;
}

.btn-a {
  width: 116px;
  margin: 10px;
  border: 1px solid;
  font-size: 25px;
  background-color:lightgray;

  &:hover {
    color: #fff;
  }
}

.text-wide{
  width:300px;
  margin-top:10px;
  margin-bottom: 10px;
}

.aa{
  margin-top:30px;
}
.top-hero-wrapper {
}

.top-hero-container {
}
